<%= form_for [@sign_up], remote:true do |f| %>
  <% if @sign_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sign_up.errors.count, "error") %> prohibited this sign_up from being saved:</h2>

      <ul>
      <% @sign_up.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <p class="warning" id="email-warning">*Please enter a valid email address.</p><br>
    <%= f.email_field :email, autocomplete: 'email', required: true %>
  </div>

  <div id="hidden-form">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label 'Company Name' %><br>
      <%= f.text_field :company_name %>
    </div>
      <div class="field">
      <%= f.label :company_size %><br>
      <%= f.text_field :company_size %>
    </div>
      <div class="field">
      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number %>
    </div>
  </div>

  <!-- <p>Please fill in all fields.</p> -->
  <p>That's all! Thanks for helping. -Sam</p>

<% end %>
