<!DOCTYPE html>
<html>
<head>
  <title>Frictionless Sign-Up</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Nunito:600,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
